<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tv.dao.LiveTvDao">

    <resultMap id="LiveTv" type="com.api.model.LiveTv">
        <id column="id" jdbcType="DECIMAL" property="id" />
        <result column="live_type" jdbcType="DECIMAL" property="liveType" />
        <result column="is_hot" jdbcType="DECIMAL" property="isHot" />
        <result column="live_code" jdbcType="DECIMAL" property="liveCode" />
        <result column="name" jdbcType="VARCHAR" property="liveName" />
        <result column="live_pic" jdbcType="VARCHAR" property="livePic" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="sort" jdbcType="DECIMAL" property="sort" />
    </resultMap>

    <resultMap id="LiveLine" type="com.api.model.LiveLine">
        <id column="id" jdbcType="DECIMAL" property="id" />
        <result column="line" jdbcType="VARCHAR" property="line" />
        <result column="line_time" jdbcType="TIMESTAMP" property="lineTime" />
        <result column="sort" jdbcType="DECIMAL" property="sort" />
    </resultMap>

    <select id="selLiveTvList" resultMap="LiveTv" parameterType="java.util.Map">
        SELECT t1.id, t1.live_type, t1.is_hot, t1.live_code, t1.live_pic, t1.description, t1.sort, t2.name FROM tv_live t1
        LEFT JOIN tv_dic t2 ON t1.live_code = t2.id
        WHERE 1=1
        <if test="liveType != null">
            AND t1.live_type = #{liveType,jdbcType=DECIMAL}
        </if>
        <if test="isHot != null">
            AND t1.is_hot = #{isHot,jdbcType=DECIMAL}
        </if>
        ORDER BY t1.sort, t1.live_time
    </select>

    <select id="selLiveLine" resultMap="LiveLine" parameterType="java.util.Map">
        SELECT id, line, line_time, sort FROM tv_line
        WHERE pid = #{id,jdbcType=DECIMAL}
        ORDER BY line_time
    </select>

</mapper>