<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tv.dao.LiveTvDao">

    <resultMap id="LiveTv" type="com.tv.model.LiveTv">
        <result column="id" property="id" />
        <result column="live_type" property="liveType" />
        <result column="is_hot" property="isHot" />
        <result column="live_code" property="liveCode" />
        <result column="live_name" property="liveName" />
        <result column="live_pic" property="livePic" />
        <result column="live_time" property="liveTime" />
        <result column="description" property="description" />
    </resultMap>

    <select id="selLiveTvList" resultMap="LiveTv" parameterType="java.util.Map">
        SELECT id, live_type, is_hot, live_code, live_pic, description FROM tv_live
        WHERE 1=1
        <if test="liveType != null">
            AND live_type = #{liveType}
        </if>
        <if test="isHot != null">
            AND is_hot = #{isHot}
        </if>
    </select>

</mapper>